

    <div class="col-lg-2 backmenu  ">
        <div class="col-lg-12">
            <img class="imgtop" src="/imagen/logozh.png">
        </div>

        <div class="col-lg-12 p-3">
            <div class="col-lg-12 prodprop">
                <p>
                    Recordemos que es nuestra responsabilidad ser coherentes con los proncipios ZanaHora.
                </p>
            </div>
            <div class="col-lg-12 prodprop">
                <p>
                    Para ello, se recomienda no aprovar nada que se salga de las normativas.
                </p>
            </div>

        </div>

    </div>
