
<div class="container-fluid row">

    <div class="col-lg-12 pt-3 row">

        <div class="col-lg-4 mx-auto p-1 ">
            <div class="col-lg-11 mx-auto box1 ">
                <div class="foottit1 ">Contactos</div>

                <h4 class="footcont1">Calle 29A # 34A - 55, Bogotás</h4>
                <div class="col-lg-8 mx-auto footul ">
                    <ul>
                        <li>ZanaHora: +57 1 450 0800</li>
                        <li>Rocio: +57 321 344 1606</li>
                        <li>Diego: +57 310 253 8903</li>
                        <li>Henry: +57 310 260 4764</li>
                        <li>Jaime: +57 305 700 2124</li>
                        <li>Gabriel: +57 319 403 6153</li>
                    </ul>
                </div>
            <a class="footwww btn-block" href="http://www.zanahora.co"><h5 class="boton">www.zanahora.co</h5></a>
            </div>
        </div>

        
    </div>
</div>

<!-- Back-To-Top Button -->
<a href="#">
    <img class="bttp float-right sticky1" src="/imagen/backtotop.png" alt="" width="20%">
</a>

<!-- Foot Footer -->
<div class="col-lg-12 basefoot ">
        <span>Copyright © 2019 <a class="footwww1" href="http://www.zanahora.co">ZanaHora</a></span> All Rights Reserved. Design by
        <span><a class="footwww1" href="http://www.softgarten.com">SoftGarten</a></span>
</div>


